{% extends './base.html' %}
{% load static %}

{% block title %}
About
{% endblock %}
  {% block content %}
    <section>
        <table class="table mt-5">
            <thead>
              <tr>
                <th scope="col">User Id</th>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Body</th>
              </tr>
            </thead>
            <tbody>
            {% for i in data %}
              <tr>
                <th scope="row">{{ i.userId }}</th>
                <td>{{ i.id }}</td>
                <td>{{ i.title }}</td>
                <td>{{ i.body | truncatewords:10 }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </section>


    <img src="{% static 'images/img_1.jpeg' %}" alt="">
    <h1>This is my First App</h1>
  {% endblock %}