.footer-container{
    background-color: #0E071B;
    padding: 80px;
    list-style: none;
}

.survises{
    color: #CFCFCF;
}

.survises li{
    margin-top: 10px;
}

.assistence{
    color: #CFCFCF;
}

.assistence li{
    margin-top: 10px;
}